.custom { /* has to be the first rule in here, because I do access it via JS[0] */
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	/* Credit: Stephen Gilbert, http://subtlepatterns.com/textured-paper/ */
	background-image: url("../images/textured_paper_3.png");
	background-color: #444; /* 64/255 ~= 4/16 */
	/*transition: background-color 400ms ease-in-out;*/
}
*:-webkit-full-screen {
	 /* transparent. counters white background in fullscreen mode in chrome */
	background-color: rgba(0,0,0,0);
}
a {
	outline : none;
}
@font-face {
	/* IE: @font-face failed OpenType embedding permission check. Permission must be Installable. */
	font-family: MySymbols; /* http://www.freefontconverter.com/ */
	src: url("../vector/mySymbols9.ttf") format('truetype');
}
#menu {
	transition: opacity 300ms ease-in-out;
}
#menu:hover {
	opacity: 1 !important;
}
#menu ul {
	position: fixed;
	top: 0;
	left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
	z-index: 5;
}
#menu ul li {
    position: relative;
    display: block;
	padding-right: 5px;
    float: left;
    white-space: nowrap;
	cursor: pointer;
	-moz-user-select: none;
}
#menu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
    display: none;
	box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);
}
#menu ul ul li {
    float: none;
	padding: 0 0 4px 0;
	background: rgba(0, 0, 0, 0.7);
	/*transition: box-shadow 100ms ease-in-out;*/
}
#menu li:hover {
	background: rgba(0, 0, 0, 0.7);
}
#menu li:hover ul {
    display: block;
}
#menu li li:hover {
	/* h, v, blur, spread, colour, inset? */
	box-shadow: 15px 0px 40px -15px rgba(255, 255, 255, 0.6) inset;
}
#menu li li:hover .desc, #menu li li:hover .symbol {
	color: #ddd;
}
#menu li li:hover .key {
	background: linear-gradient(to bottom, #C2C2C2, #EEE);
}
.symbol {
	font-family: MySymbols;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25); /* horizontal, vertical, blur, color */
	font-size: 30px;
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: #999;
}
.key {
    border: medium none;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    display: inline-block;
    font: 1em sans-serif;
	font-weight: 900;
    min-width: 1em;
	margin: -5px 5px 5px 5px;
    padding: 3px 4px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
	background: linear-gradient(to bottom, #A2A2A2, #CCC);
	color: #323232;
	text-shadow: 0 0 2px #FFF;
	border: medium none; /* width, style, color */
	box-shadow: 0 0 1px #FFF inset, 0 0 0.4em #C8C8C8 inset, 0 0.1em 0 #666, 0 0.11em 0 rgba(255, 255, 255, 0.4), 0 0.1em 0.11em rgba(255, 255, 255, 0.9);
}
.desc {
	font-family: sans-serif;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25); /* horizontal, vertical, blur, color */
	font-size: 20px;
	padding: 0 18px 0 10px;
	cursor: pointer;
    text-decoration: none;
    color: #999;
	/*transition: color 100ms ease-in-out;*/
}
.frame {
	position: fixed;
	/* this is to allow the pictures inside to be zoomed beyond the browser window borders
	if this is changed, updateFillStyle() also needs to change */
    height: 200%;
    width: 200%;
	top: -50%;
	left: -50%;
    text-align: center;
	z-index: 3;
}
#overviewFrame { /* contains all previews */
/* has some negative effects:
window resize and zooming previews does not look as nice,
fullscreen scrollbar remove shakes the overview,
last line of previews in not aligned */
	text-align: center;
	width: 97%;
	padding: 0 0 4% 0; /* top right bottom left */
	margin: 1.5%; /* if changed, js also needs to change -> setPreviewSize()  */
	transition: padding-top 200ms ease-in-out;
}
.previewPic {
	/* disadvantage: will not scale UP images */
	/* might be an alternative: background-size: contain */
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	border-radius: 2px;
	box-shadow: 3px 3px 14px 2px rgba(0,0,0,0.3);
	transition: opacity 400ms ease-in-out, box-shadow 300ms ease-in-out;
	cursor: pointer;
}
.previewPic:hover {
	/*box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);*/
}
.visited {
	/*border-top-right-radius: 8px;*/
}
.isCurrent {
	box-shadow: 0px 1px 30px 4px rgba(255,255,255,0.6);
}
.helperSpanToAlignImageVertically {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.rawImage {
	border-radius: 2px;
	vertical-align: middle;
	transition: opacity 400ms ease-in-out; /* this is done in JS (style): , width 100ms ease-in-out, height 100ms ease-in-out*/
}
.menuButtonClicked {
	color: rgba(230, 230, 230, 1) !important;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
	background-image: linear-gradient(#777 0%, #333 100%) !important;
	transition: all 200ms ease-in-out;
}
.imgContainerDiv {
	text-align: center;
	display: inline-block;
	/*transition: all 400ms ease-in-out;*/
	/*background-color: #fcc;*/
}
.imgContainerDivNoscriptDefault {
	width: 300px;
	height: 200px;
	margin: 30px;
}
.movingImage {
	position: fixed;
	border-radius: 2px;
	box-shadow: 3px 3px 14px 2px rgba(0,0,0,0.3);
	transition: opacity 400ms ease-in-out;
	z-index: 3;
}
.imageBGnShadow {
	box-shadow: 3px 3px 14px 2px rgba(0,0,0,0.3); /* horizontal, vertical, blur radius, spread radius */
/*	box-shadow: 0px 7px 20px 3px rgba(0,0,0,0.2); */
	background-color: rgba(0, 0, 0, 0.3);
}
#noscriptWarning, #errorMessages {
	width: 100%;
	background-color: #800;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 5px 0;
	font-size: 20px;
	text-align: center;
	z-index: 6;
}
#errorMessages {
	position: fixed;
	top: 0;
	cursor: pointer;
}
#loadingCircle {
	position: fixed;
	width: 6%;
	pointer-events: none; /* clicks will fall through the element */
	bottom: 8%;
	left: 47%;
	z-index: 5;
	transition: opacity 300ms ease-in-out;
	-webkit-animation: spin 1s infinite linear;
	/* http://www.w3.org/TR/css3-animations/#animation-shorthand-property */
	animation: spin 1s infinite linear;
}
/* chromium doesnt seem to support the default yet */
@-webkit-keyframes spin {
	0% {	-webkit-transform: rotate(0deg); }
	100% {	-webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% {	transform: rotate(0deg); }
	100% {	transform: rotate(360deg); }
}
#exif, #date {
	position: fixed;
	bottom: 0;
	padding: 10px 20px;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 100%;
    color: #565656;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2); /* horizontal, vertical, blur, color */
	z-index: 2;
	transition: opacity 300ms ease-in-out, color 300ms ease-in-out;
}
#exif {
	right: 0;
}
#date {
	left: 0;
}
#exif span {
	margin: 0 10px;
}
#previous, #next {
	position: fixed;
	cursor: pointer;
	padding: 2%; /* for a large click-zone */
/*	background-color: #555;*/
	width: 2%;
	top: 47%;
	z-index: 4;
	transition: opacity 300ms ease-in-out, left 250ms ease-in-out, right 250ms ease-in-out;
}
#previous:hover, #next:hover {
	opacity: 1 !important;
	pointer-events: auto !important;
}
#previous {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	right: -1.2%;
}
#previous:hover {
	right: -1.5%;
}
#next {
	left: -1.2%;
}
#next:hover {
	left: -1.5%;
}
.opacity_CIB { opacity: 0.2; }
.opacity0 { opacity: 0.0; }
.opacity1 { opacity: 1.0; }
.opacity0_noTransition { opacity: 0.0; transition: box-shadow 300ms ease-in-out !important; }
.opacity1_noTransition { opacity: 1.0; transition: box-shadow 300ms ease-in-out !important; }
.hidden { display: none; }
.noClick { pointer-events: none; }
.hideCursor { cursor: none; }
.hideScrollbar { overflow: hidden; }
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
